@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import "~slick-carousel/slick/slick.css";

//vars

$breakpoint-medium: 639px;
$breakpoint-large:  1199px;


body{
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
a{
  text-decoration: none;
}

.container{
  margin: 0 auto;
  padding: 0 25px;
  max-width: 1230px;
}


//elevation

@mixin elevation-1{
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
@mixin elevation-2{
  box-shadow: 0 3px 6px rgba(134, 113, 113, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
@mixin elevation-3{
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
@mixin elevation-4{
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
@mixin elevation-5{
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

//configure slick
.slick-arrow i{
  
  @media (max-width: $breakpoint-large){
    bottom: -50px;
  }
  @media (min-width: $breakpoint-large){
    top: 50%;
    transform: translateY(-50%);
  }
  position: absolute;
  color: #fff;
  background: #4285f4;
  padding: 5px;
  border-radius: 100%;
  font-size: 30px;
  cursor: pointer;
  @include elevation-1();
  transition: .4s;
  &:hover{
    transition: .4s;
    @include elevation-2();
  }
}
@media (max-width: $breakpoint-large){
  .slick-prev i{    
    left: calc(50% - 50px);
  }
  .slick-next i{   
    right: calc(50% - 50px);
  }
}
@media (min-width: $breakpoint-large){
  .slick-prev i{    
    left: -50px;  
  }
  .slick-next i{   
    right: -50px;  
  }
}
.responsiveSliderDots{
  margin: 0;
  padding: 0;
  position: absolute;
  right: 2px;
  top: -20px;
  li{
    display: inline-block;
    list-style: none;
    height: 5px;
    width: 10px;
    margin-right: 5px;
    background: #bbc2c9;
    transition: .4s;
  }
  .slick-active{
    transition: .4s;
    background: #81878e;
  }
  button{
    display: none;
  }
}
.responsive-slider{
  margin-top: 50px;
}


//card
.card{  
  $hover-transition: .4s;
  @include elevation-2;
  transition: $hover-transition;  
  display: block;
  position: relative;
  margin: 10px;
  &__img{
    height: 140px;   
    background: center/cover no-repeat;    
  }
  &__content{
    padding: 29px 35px 35px;
  }
  &__type{
    font-size: 12px;
    letter-spacing: 0.3px;
    color: #9aa0a6;
    font-weight: 700;
    text-transform: uppercase;
  }
  &__title{
    margin-top: 10px;
    color: #3c4043;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: normal;
    line-height: 26px;
    transition: $hover-transition;
  }
  &__description{
    margin-top: 15px;    
    padding-bottom: 20px;
    color: #5f6368;
    font-size: 14px;
    letter-spacing: normal;
    line-height: 22px;
  }
  &__openInNewIcon{
    color: #5f6368;    
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 20px;
    opacity: 0;
    transition: $hover-transition;
  }
  &:hover{

    transition: $hover-transition;    
    
    .card__title{
      transition: $hover-transition;
      color: #4285f4;
    }
    .card__openInNewIcon{
      transition: $hover-transition;
      opacity: 1;
    }
  }
}